
<ul class="nav navbar-top-links navbar-right">
                <li class="">
                    <a class="dropdown-toggle" href="#">
                        MENU
                    </a>

                    <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle"  href="{% url 'home' %}">
                        HOME
                    </a>

                    <!-- /.dropdown-tasks -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" href="{% url 'dashboard' %}">
                        <i class="fa fa-bell fa-fw"></i>DASHBOARD
                    </a>

                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i><i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">

                        <li class="divider"></li>
                        {% if user.is_authenticated %}
                        <li>
                          <a href="#"><i class="fa fa-user-circle"></i>Account</a>
                        </li>
                          <li>
                            <a href="{% url 'user-logout' %}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                          </li>
                        {% else %}
                          <li><a href="{% url 'user-login' %}"><i class="fa fa-user fa-fw"></i>Login</a>
                          </li>

                          <li><a href="{% url 'user-registration' %}"><i class="fa fa-sign-in fa-fw"></i>Registration</a>
                          </li>
                          {% endif %}
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
